/* Sets the original styling of the entire page */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Sets the body styling */
body {
	height: 100vh;
	background: rgb(65, 61, 61);
	display: flex;
}

/* Sets the game board styling */
.flashcard-game {
	width: 700px;
	height: 700px;
	display: flex;
	flex-wrap: wrap;
	border: 1px solid rgb(175, 6, 253);
	margin: auto;
}

/* Sets the cards styling as a whole (all the cards) */
.flashcard {
	width: calc(20% - 10px);
	height: calc(25% - 10px);
	margin: 5px;
	position: relative;
}

/* Sets the front and back styling of each invidual card */
.front,
.back {
	border: 1px solid rgb(175, 6, 253);
	width: 100%;
	height: 100%;
	padding: 10px;
	position: absolute;
	background: rgb(234, 188, 255);
}

/* Sets the image styling for each image on all the cards front and back */
img {
	width: 100px;
}

/* 
Links to things I looked up to create this code.
calc function in css - https://developer.mozilla.org/en-US/docs/Web/CSS/calc()
flex = https://css-tricks.com/snippets/css/a-guide-to-flexbox/

 */
